@media screen and (max-width: 879px) {
	.sld-image {
		margin: 0 auto;
		width: 100%;
		height: 50vh;
	}
}
@media screen and (min-width: 880px) {
	.sld-image {
		margin: 0 auto;
		width: 100%;
		height: 70vh;
	}
}

.price-div {
	border: solid 4px #2271ff;
	border-radius: 10px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.text-bg {
	color: white;
	padding: 15px 30px;
	width: fit-content;
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 10px;
}
