.active {
	color: #2271ff !important;
}

.header-style li a {
	color: #282828;
	text-decoration: none;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	font-weight: 600;
	font-size: 15px;
	display: inline-block;
	width: fit-content;
	padding: 8px 12px 0;
	background: none;
}

.header-style li a:hover {
	color: #282828;
}

.header-style li a::after {
	content: "";
	width: 0%;
	height: 2.5px;
	background-color: #282828;
	color: #282828;
	display: block;
	margin: auto;
	transition: 0.5s;
}
.header-style li a:hover:after {
	width: 100%;
}

.profile-i {
	width: 25px;
	height: 25px;
}
