.body {
	background: linear-gradient(45deg, #8500ff, #5acaff);
	height: 1000vh;
}

.erHeader {
	font-family: "Permanent Marker", cursive;
	font-size: 18vw;
	color: #fff;
	line-height: 1em;
}

#container {
	font-family: "Open Sans", sans-serif;
	position: absolute;
	top: 10%;
	left: 10%;
	right: 10%;
	bottom: 10%;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url(/src/Assets/Error/p404.png), #151729;
	box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}

#container .content {
	text-align: center;
	max-width: 600px;
}
#container .content h4 {
	font-family: "Kalam", cursive;
	position: relative;
	font-size: 1.5em;
	margin-bottom: 20px;
	color: #111;
	background: #fff;
	font-weight: 300;
	padding: 10px 20px;
	display: inline-block;
}

#container .content p {
	font-family: "Philosopher", sans-serif;
	color: #fff;
	font-size: 1.2em;
}

#container .content a {
	font-family: "Concert One", cursive;
	position: relative;
	display: inline-block;
	padding: 10px 25px;
	background: #ff0562;
	color: #fff;
	text-decoration: none;
	margin-top: 25px;
	border-radius: 25px;
	border-bottom: 4px solid #d00d56;
}
